.wrapper {
	text-align: center;
}

.button {
	position: absolute;
    	top: 50%;
}

.g-recaptcha{
	display: inline-block;
}

.avatar {
  	vertical-align: middle;
 	width: 150px;
  	height: 150px;
  	border-radius: 50%;
}
